<ion-content [fullscreen]="true">
  <div class="screen-section">
    <!-- <h3 class="subDisplay" >{{currentNumber}}</h3> -->
    <h1 class="mainDisplay">{{currentNumber}}</h1>
  </div>

  <div class="button-section">
        <button (click) = "clear()" class="special-operator" type="button" value="CE">CE</button>
        <button (click) = "getOperation('+ and -')"class="special-operator" type="button" value="+-">±</button>
        <button (click) = "getOperation('%')"class="special-operator" type="button" value="%">%</button>

        <button (click) = "getOperation('/')" class="operator" type="button" value="/">/</button>

        <button (click) = "getNumber('7')" type="button" value="7">7</button>
        <button (click) = "getNumber('8')" type="button" value="8">8</button>
        <button (click) = "getNumber('9')" type="button" value="9">9</button>
        <button (click) = "getOperation('*')" class="operator" type="button" value="*">×</button>

        <button (click) = "getNumber('4')" type="button" value="4">4</button>
        <button (click) = "getNumber('5')" type="button" value="5">5</button>
        <button (click) = "getNumber('6')" type="button" value="6">6</button>
        <button (click) = "getOperation('+')" class="operator" type="button" value="+">+</button>

        <button (click) = "getNumber('1')" type="button" value="1">1</button>
        <button (click) = "getNumber('2')" type="button" value="2">2</button>
        <button (click) = "getNumber('3')" type="button" value="3">3</button>
        <button (click) = "getOperation('-')" class="operator" type="button" value="-">-</button>

        <button (click) = "getNumber('0')" class="zero-button" type="button" value="0">0</button>
        <button (click) = "getDecimal()" class="decimal" type="button" value=".">.</button>
        <button (click) = "getOperation('=')" class="equal-sign" type="button" value="=">=</button>
      </div>
</ion-content>
